{% extends 'registration/base_security.html.twig' %}


{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

            <div class="form-group position-relative has-icon-left mb-4">
                {{ form_widget(registrationForm.email) }}
                <div class="form-control-icon">
                    <i class="bi bi-envelope"></i>
                </div>
            </div>

            <div class="form-group position-relative has-icon-left mb-4">
                {{ form_widget(registrationForm.username) }}
                <div class="form-control-icon">
                    <i class="bi bi-person"></i>
                </div>
            </div>


            <div class="form-group position-relative has-icon-left mb-4">
                {{ form_widget(registrationForm.plainPassword) }}
                <div class="form-control-icon">
                    <i class="bi bi-shield-lock"></i>
                </div>
            </div>
            <div class="form-check">
                <div class="checkbox">
                    {{ form_widget(registrationForm.agreeTerms) }}

                    <label for="registration_form_agreeTerms">Принять условия на обработку персональных данных.</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Регистрация</button>
        {{ form_end(registrationForm) }}

    <div class="text-center mt-5 text-lg fs-4">
        <p class='text-gray-600'>Уже есть аккаунт? <a href="{{ path('app_login') }}" class="font-bold">Войти</a>.</p>
    </div>
{% endblock %}
