{% extends 'base.html.twig' %}


{% block page_header %}

    <div class="page-heading">
        <h3>{{ title }}</h3>
    </div>

{% endblock %}

{% block body %}

    <section class="section">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="buttons">
                        <a href="{{ path('app_task_add') }}" class="btn btn-outline-success">Новая задача</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {% if tasks|length > 0 %}
                    <table class="table" id="projects">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(tasks, '#', 'id') }}</th>
                                <th>{{ knp_pagination_sortable(tasks, 'Наименование', 'name') }}</th>
                                <th>{{ knp_pagination_sortable(tasks, 'Проект', 'project.name') }}</th>
                                <th>{{ knp_pagination_sortable(tasks, 'Статус', 'status') }}</th>
                                <th>{{ knp_pagination_sortable(tasks, 'Создатель', 'creator.username') }}</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td><a href="{{ path('app_task_show', {'id': task.id}) }}">{{ task.name }}</a></td>
                                <td>
                                    {% if task.project%}
                                        <a href="{{ path('app_project_show', {'id': task.project.id}) }}">{{ task.project.name }}</a>
                                    {% else %}
                                        Отсутствует
                                    {% endif %}
                                </td>
                                <td>
                                    {{ component('StatusComponent', {
                                        status: task.status
                                    }) }}
                                </td>
                                <td>{{ task.creator.username }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    <div class="divider">
                        <div class="divider-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ничего не найдено.</font></font></div>
                    </div>
                {% endif %}
            </div>
        </div>
        {{ knp_pagination_render(tasks) }}
    </section>


{% endblock %}

