{% extends 'base.html.twig' %}


{% block page_header %}

    <div class="page-heading">
        <h3>Редактирование: {{ title }}</h3>
    </div>

{% endblock %}

{% block body %}
    <section class="section">
        <div class="card">
            <div class="card-body">
                {{ form_start(addTaskForm) }}

                <div class="form-group">
                    {{ form_widget(addTaskForm.name, {'value': task.name}) }}
                </div>
                <div class="form-floating">
                    {{ form_widget(addTaskForm.description, {'value': task.description}) }}
                    {{ form_label(addTaskForm.description, 'Описание задачи') }}
                </div>

                <fieldset class="form-group">
                    {{ form_widget(addTaskForm.project) }}
                </fieldset>

                <div class="col-sm-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mt-5">Сохранить</button>
                </div>

                {{ form_end(addTaskForm) }}
            </div>
        </div>

    </section>
{% endblock %}
