{% if data|length > 0 %}
<table class="table" id="projects">
    <thead>
    <tr>
        {% for name in columnNames %}
            <th>{{ name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('app_project_show', {'id': item.id}) }}">{{ item.name }}</a></td>
                <td>{{ item.tasks|length }}</td>
                <td>
                    {% if item.status == 'Новый' %}
                        <span class="badge bg-success" style="color: black">{{ item.status }}</span>
                    {% elseif item.status == 'В работе' %}
                        <span class="badge bg-warning" style="color: black">{{ item.status }}</span>
                    {% else %}
                        <span class="badge bg-primary" style="color: black">{{ item.status }}</span>
                    {% endif %}
                </td>
                <td>{{ item.creator.username }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
    {% else %}
        <div class="divider">
            <div class="divider-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Проектов нет. Создай новый.</font></font></div>
        </div>
{% endif %}
