{% extends 'base.html.twig' %}


{% block page_header %}

    <div class="page-heading">
        <h3>{{ title }}</h3>
    </div>

{% endblock %}

{% block body %}

    <section class="section">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="buttons">
                        <a href="{{ path('app_project_add') }}" class="btn btn-outline-success">Новый проект</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {% if projects|length > 0 %}
                    <table class="table" id="projects">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Наименование</td>
                            <td>Кол-во задач</td>
                            <td>Статус</td>
                            <td>Создатель</td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for project in projects %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td><a href="{{ path('app_project_show', {'id': project.id}) }}">{{ project.name }}</a></td>
                                <td>{{ project.tasks|length }}</td>
                                <td>
                                    {% if project.status == 'Новый' %}
                                        <span class="badge bg-success" style="color: black">{{ project.status }}</span>
                                    {% elseif project.status == 'В работе' %}
                                        <span class="badge bg-warning" style="color: black">{{ project.status }}</span>
                                    {% else %}
                                        <span class="badge bg-primary" style="color: black">{{ project.status }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ project.creator.username }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    <div class="divider">
                        <div class="divider-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ничего не найдено.</font></font></div>
                    </div>
                {% endif %}
            </div>
        </div>

    </section>


{% endblock %}

